---
layout: default
title: Dining
---

<article class="px3 py4">
<h1 class="h4 mb4">DINING GUIDE</h1>
<h2 id="bars" class="h1 my4">BARS AND BISTROS</h2>
    <dl class="clearfix">
        {% for post in site.categories.Bars reversed %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
        <dd class="col col-12 m0 mb4 theme2-divider">Tel: <a href="tel:{{ post.tel }}">{{ post.tel }}</a><br>{{ post.description }} </dd>
        {% endfor %}
    </dl>
    <h2 id="cafes" class="h1 my4">CAFÉS</h2>
    <dl class="clearfix">
        {% for post in site.categories.Cafe %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">CHINESE</h2>
    <dl class="clearfix">
        {% for post in site.categories.Chinese %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">CURRY HOUSE</h2>
    <dl class="clearfix">
        {% for post in site.categories.Curry %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">FINE DINING/RESORT DINING</h2>
    <dl class="clearfix">
        {% for post in site.categories.Dining %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">FISH AND CHIPS</h2>
    <dl class="clearfix">
        {% for post in site.categories.Chips %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">FRENCH</h2>
    <dl class="clearfix">
        {% for post in site.categories.French %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">INTERNATIONAL</h2>
    <dl class="clearfix">
        {% for post in site.categories.International %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">JAPANESE RESTAURANT</h2>
    <dl class="clearfix">
        {% for post in site.categories.Japanese %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">PHILIPINO</h2>
    <dl class="clearfix">
        {% for post in site.categories.Philipino %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">TAKEAWAY</h2>
    <dl class="clearfix">
        {% for post in site.categories.Takeaway %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">STEAKHOUSES</h2>
    <dl class="clearfix">
        {% for post in site.categories.Steak %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">THAI</h2>
    <dl class="clearfix">
        {% for post in site.categories.Thai %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>
    <h2 class="h1 my4">VIETNAMESE</h2>
    <dl class="clearfix">
        {% for post in site.categories.Vietnamese %}
            <dt class="col col-10 h2 mb1">{{ post.title }}</dt>
            <dd class="col col-2 m0 mb1 self-center right-align">{{ post.rating }}</dd>
            <dd class="col col-12 m0 mb4 theme2-divider">{{ post.description }}</dd>
        {% endfor %}
    </dl>

</article>
