  <figure class="ampstart-image-fullpage-hero m0 relative mb4">
    <amp-img width="404" height="720" alt="Welcome to Beck &amp; Galo Modern American Cuisine" layout="responsive" src="{{site.baseur}}/img/themes_2/hero.jpg" media="(max-width: 415px)"></amp-img>
    <amp-img height="720" alt="Welcome to Beck &amp; Galo Modern American Cuisine" layout="fixed-height" src="{{site.baseur}}/img/themes_2/hero.jpg" media="(min-width: 416px)"></amp-img>
    <figcaption class="absolute top-0 right-0 bottom-0 left-0">
      <header class="p3">
        <h1 class="ampstart-fullpage-hero-heading mb3">
          <span class="ampstart-fullpage-hero-heading-text">
            <span class="h6 block caps">Welcome to</span><span class="h1 block bold caps my1">What To in Vanuatu</span><span class="h6 block caps">Official Newspaper of the Vanuatu Tourism Office</span>
          </span>
        </h1>

    </header>
    <footer class="absolute left-0 right-0 bottom-0">
      <a class="ampstart-btn inline-block ampstart-fullpage-hero-cta h5 m3 text-decoration-none" href="menu.amp.html">View Menu</a>
    </footer>
    </figcaption>
  </figure>
